# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# Logs
*.log

# Python packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Streamlit cache
.streamlit/

# Secret files
*.pem
*.key
